@using System.Data.Entity.Core.Common.EntitySql
@model PlaylistSharingSite.Models.Playlist

@{
    ViewBag.Title = "Playlist Details";
}

<div class="container">
    <div class="row">
        <h1>Playlist: @Model.Title</h1>
        
        <table class="table table-striped table-hover">
            <thead>
            @if (User.IsInRole("Admin") || Model.IsPlaylistAuthor(User.Identity.Name))
            {
                <tr>
                    @Html.ActionLink("Add More Songs", "AddSongs", new { @playlistId =  Model.Id}, new {@class= "btn btn-warning btn-xs pull-right" })
                </tr>
            }
            <tr>
                <th>Title</th>
                <th>DateAdded</th>
                <th>Duration</th>
                @if (User.IsInRole("Admin") || Model.IsPlaylistAuthor(User.Identity.Name))
                {
                    <th>Options</th>
                }
            </tr>
            </thead>

            <tbody>
            @foreach (var file in Model.AudioFiles)
            {
                <tr class="btn-link song">
                    <td>@file.Title</td>
                    <td>@file.DateAdded</td>
                    <td>@file.Duration</td>
                    @if (User.IsInRole("Admin") || Model.IsPlaylistAuthor(User.Identity.Name))
                    {
                        <td>
                                @Ajax.ActionLink("Play", "PlaySong", "Home", new { @playlistId = Model.Id, @songId = file.Id },
                           new AjaxOptions() { HttpMethod = "Get", OnSuccess = "onSuccessPlaySong" }, new { @class = "glyphicon glyphicon-play song" })

                            @Ajax.ActionLink("X", "DeleteSong", "File", new {@playlistId = Model.Id, @songId = file.Id},
                                new AjaxOptions() {HttpMethod = "Post", OnSuccess = "onSuccess"}, new {@class = "btn btn-danger btn-xs"})
                        </td>
                    }
                    else
                    {
                        <td>
                            @Ajax.ActionLink("Play", "PlaySong", "Home", new { @playlistId = Model.Id, @songId = file.Id },
                           new AjaxOptions() { HttpMethod = "Get", OnSuccess = "onSuccessPlaySong" }, new { @class = "glyphicon glyphicon-play song" })
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
        <script>
            function onSuccess() {
                return location.reload(true);
            }

            function onSuccessPlaySong(data) {

                $("#jquery_jplayer_1").jPlayer("setMedia",
                {
                    mp3: data.url,
                    duration: data.duration,
                    title: data.title

                }).jPlayer("play");
            }
        </script>
    </div>
</div>
