@model PlaylistSharingSite.Models.Playlist

<div class="container">
    <div class="well">
        <h2>Upload Songs</h2>
        @using (Html.BeginForm("UploadSongs", "File", FormMethod.Post, new { encType = "multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Title)

            <div class="form-group">
                @Html.Label("Mp3 Files: ", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    <input type="file" class="multiple" name="uploadSongs" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", "Index", "File", new { @class = "btn btn-default" })

                    @*@Html.ActionLink("Upload Songs", "UploadSongs", "File", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })*@
                    <input type="submit" value="Upload Files" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>




